token = "token del bot"
consola = int(id canal de la consola de discordsrv)
botchat = int(id canal general de discordsrv)
general = int(id canal de comunicacion con los usuarios)
server = str(puerto en el que se ejecuta el server principal)